<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/mstyle.css' %}">
    <title>Main</title>
</head>
<body>
    <header>
        <h1>Трохи про книгу</h1>
        <p>"Володар кілець" (англ. The Lord of the Rings) - роман-епопея англійського письменника Дж. Р. Р. Толкіна, одне з найвідоміших творів жанру фентезі. <br> «Володар кілець» був написаний як єдина книга, але через обсяг при першому виданні його розділили на три частини — «Братство Кільця», «Дві фортеці» та «Повернення короля». <br> У вигляді трилогії він публікується і донині, хоча часто в єдиному томі. Роман вважається першим твором жанру епічне фентезі, а також його класикою.</p>
        <img src="{% static 'img/main.gif' %}" alt="">
    </header>
    <main>
        <h1>Перше видання</h1>
        <p>Толкін запропонував "Володаря кілець" видавництву Allen & Unwin. <br> За задумом Толкіна, одночасно з «Володарем кілець» слід було опублікувати «Сільмариліон», але видавництво не пішло на це. <br> Тоді в 1950 році Толкін запропонував свій твір видавництву Collins, але співробітник видавництва Мілтон Уолдмен (англ. Milton Waldman) заявив, що роман «гостро потребує урізання». <br> У 1952 році Толкін знову написав в Allen & Unwin. <br> Зокрема, він писав: «я з радістю розгляну можливість публікації будь-якої частини тексту». <br> Видавництво погодилося опублікувати роман цілком і без «урізань». <br> За договором автор не отримував нічого, але після того, як витрати на видання книги окупляться, автор отримував значну частку від продажу.</p>
        <img src="{% static 'img/tolkin.png' %}" alt="">
        <h1>Видання у США. Толкіновський «бум»</h1>
        <p>На початку 1960-х Дональд А. Воллхейм (англ. Donald A. Wollheim), редактор з відділу фантастики видавництва Ace Books, виявив, що в США роман не захищений копірайтом, оскільки видавництво Houghton Mifflin, що опублікувало твір у твердому. , забуло це зробити <br> Так 1965 року в США було опубліковано нове видання «Володаря кілець» без дозволу автора та без виплати роялті і цього разу в м'якій обкладинці. <br> Толкін довів цю історію до своїх американських читачів.[5] Шанувальники Толкіна були такі обурені, що видавництво змушене було згорнути продаж книг і виплатити автору номінальну винагороду.</p>
        <img src="{% static 'img/usa.png' %}" alt="">
        <h1>Переклади іншими мовами</h1>
        <p>Роман перекладено десятками мов, причому Толкін, експерт у філології, часто сам перевіряв якість перекладу.</p>
        <img src="{% static 'img/tolkin.jpeg' %}" alt="">
    </main>
    <footer>
        <a href="{% url 'author' %}">Сторінка автора</a>
        <a href="{% url 'book' %}">Сторінка книги</a>
    </footer>
</body>
</html>